@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body,
#__next {
  @apply relative w-full h-screen overflow-y-hidden font-NotoSansKR bg-[#fff];
}

.root_layout {
  @apply w-full h-full bg-[#fefefe];
}

.mobile_layout {
  @apply w-full bg-[#FEFEFE] overflow-hidden;
  height: calc(var(--vh, 1vh) * 100);
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  @apply bg-[#ffff];
}

textarea {
  resize: none;
}

/* header */
header.h_pc {
  @apply absolute top-0 left-0 right-0 z-20 flex_center w-full h-[5.64vmin] main_colorBg;

  > .header_container {
    @apply flex_xBetween content_w_size h-full;

    .header_menu {
      @apply h-full flex_vertical_center;
      h1 {
        .logo_area {
          @apply block w-[11.92vmin] h-[4.63vmin];

          img {
            @apply w-full h-full;
          }
        }
      }

      nav,
      li {
        @apply h-full;
      }

      nav {
        @apply ml-[18.24vmin];
        ul {
          @apply flex_vertical_center gap-[2.6vmin] h-full;

          a,
          button {
            @apply relative flex_center w-[14.31vmin] h-full font-medium text-[2.6vmin] text-[#FEFEFE];

            &.on::after {
              @apply content-[''] absolute bottom-0 left-0 w-full h-[0.49vmin] bg-[#FEFEFE];
            }
          }
        }
      }
    }

    .header_user {
      @apply h-full;
      button,
      a {
        @apply flex_center px-[1.34vmin] h-full font-medium text-[2.6vmin] text-white;
      }
    }
  }
}

/* footer */
footer {
  @apply absolute bottom-0 left-0 right-0 w-full h-[5.64vmin] bg-white;

  .ft_container {
    @apply flex_xBetween content_w_size h-full mx-auto;

    p {
      @apply gray_colorTxt font-medium text-[1.73vmin];
    }

    > div {
      &:first-of-type {
        @apply flex_vertical_center;

        p {
          @apply relative pr-[1.3vmin] font-medium text-[1.73vmin] gray_colorTxt;

          &:first-of-type::after {
            @apply content-[''] absolute_yHalf right-[0px] mt-[0.24vmin] w-[0.12px] h-[1.7vmin] gray_colorBg;
          }

          &:last-of-type {
            @apply px-[1.3vmin];
          }
        }
      }

      &:last-of-type {
        @apply flex_center gap-[3.36vmin];

        a {
          @apply flex_center gap-[0.73vmin];
          .ftIcon_box {
            @apply w-[2.6vmin] h-[2.6vmin];

            img {
              @apply object-cover w-full h-full;
            }
          }

          span {
            @apply text-[1.48vmin];
          }
        }
      }
    }
  }
}

/* mobile */
/* mobile header */
header.h_mobile {
  @apply absolute top-0 left-0 right-0 z-20 flex_center w-full h-10 bg-white;

  .logo_area {
    @apply block w-[98px] h-[30px];

    img {
      @apply w-full h-full scale-[1.4];
    }
  }
}

.moblie_noneService_container {
  @apply flex_center flex-col w-full h-screen bg-[#FEFEFE];

  .logo_area {
    @apply w-[196px] h-[72px] mb-[32px];

    img {
      @apply object-cover w-full h-full;
    }
  }

  .character_area {
    @apply w-[208px] h-[204px] mb-[8px];

    img {
      @apply object-cover w-full h-full;
    }
  }

  .guide_area {
    @apply text-center;

    > p:first-of-type {
      @apply mb-[4px] text-[20px] font-medium text-[#424242];
    }

    > p:last-of-type {
      @apply text-[16px] font-normal text-[#757575];
    }
  }
}

/* modal */
.modalBlackBg {
  @apply absolute_fullPage bg-[#757575]/40 z-[60] cursor-pointer;
}

.modal_box {
  @apply flex_center flex-col absolute_center z-[80] w-[34.5vmin] h-[23.1vmin] rounded bg-white;

  > p {
    @apply text-[2.19vmin] font-medium text-center gray_colorTxt;
  }

  .character_box {
    @apply flex_center bg-[#EBF2FA];
  }

  img {
    @apply w-full h-full object-cover;
  }

  &.modal_loading {
    @apply py-[3.15vmin] !bg-[#F9F9F9];
    .character_box {
      @apply w-[9.22vmin] h-[9.22vmin] mb-[1vmin];
    }

    .loader_area {
      @apply my-[1.82vmin] w-full;

      .loader {
        @apply block relative w-[1.3vmin] h-[1.3vmin] mx-auto rounded-full bg-[#EDEDED];
        animation: loadingAni 1s infinite linear alternate;
      }
    }
  }

  &.modal_select {
    @apply w-[48.7vmin] h-[42.34vmin] py-[3.36vmin];

    .character_box {
      @apply w-[13.01vmin] h-[13.01vmin] overflow-hidden mb-[2.6vmin];
    }

    .selectMent_box {
      p:first-of-type {
        @apply mb-[1.3vmin] text-[2.6vmin] font-medium text-center text-[#424242];
      }
      p:last-of-type {
        @apply text-[2.19vmin] font-medium text-center gray_colorTxt;
      }
    }

    .modalBtn_area {
      @apply flex gap-[1.41vmin] mt-[3.04vmin];

      button {
        @apply flex_center w-[15.29vmin] h-[6.5vmin];

        &:first-of-type {
          @apply active_color text-[1.95vmin];
        }

        &:last-of-type {
          @apply area_border text-[1.95vmin];
        }
      }
    }
  }

  &.login_box {
    @apply w-[43.37vmin] h-[41.68vmin] p-[2.17vmin];

    .modal_close {
      @apply absolute top-[1.7vmin] right-[2.07vmin] z-10 w-[2.6vmin] h-[2.6vmin] cursor-pointer;
    }

    .character_box {
      @apply w-[14.61vmin] h-[14.61vmin] mb-[1vmin];
    }

    .login_ment {
      > p {
        @apply text-[2.17vmin] font-medium text-center text-[#424242];
      }
    }

    .modalBtn_area {
      @apply flex flex-col w-full;
      .kakoLogin {
        @apply flex_center relative w-full h-[6.72vmin] my-[2.6vmin] bg-[#FEE404];

        .kakoLogo {
          @apply absolute_yHalf left-[2.07vmin] w-[2.56vmin] h-[2.56vmin];
        }

        span {
          @apply text-[2.07vmin] font-normal text-[#000000];
        }
      }

      .noneLogin {
        @apply cursor-pointer text-[2.19vmin] font-medium gray_colorTxt;
      }
    }
  }
}

/* mobile modal */
@media (max-width: 1023px) {
  .modal_box {
    @apply flex_center flex-col absolute_center z-[80] w-[34.5vmin] h-[23.1vmin] rounded bg-white;

    > p {
      @apply text-base font-medium text-center gray_colorTxt;
    }

    .character_box {
      @apply flex_center bg-[#EBF2FA];
    }

    img {
      @apply w-full h-full object-cover;
    }

    &.modal_loading {
      @apply w-[257px] h-[172px] py-5 !bg-[#F9F9F9];
      .character_box {
        @apply w-[68px] h-[68px] mb-[8px];
      }

      .loader_area {
        @apply my-[14px] w-full;

        .loader {
          @apply block relative w-[10px] h-[10px] mx-auto rounded-full bg-[#EDEDED];
          animation: loadingAni 1s infinite linear alternate;
        }
      }
    }

    &.modal_select {
      @apply w-[263px] h-auto min-h-[215px] py-[25px] px-4;

      .modal_close {
        @apply absolute top-[10px] right-[10px] z-10 w-[20px] h-[20px] cursor-pointer;
      }

      .character_box {
        @apply w-[68px] h-[68px] mb-[8px] overflow-hidden;
      }

      .selectMent_box {
        p.title {
          @apply mb-[9px] text-base font-medium text-center text-[#424242];
        }
        p.description {
          @apply text-sm font-medium text-center gray_colorTxt;
        }

        ul.improveList {
          @apply flex flex-col gap-1 text-xs pt-3 border-t border-[#757575]/50;
          li {
            @apply flex_vertical_center gap-1;

            span {
              @apply break-keep;
            }
          }
        }
      }

      .modalBtn_area {
        @apply flex gap-[1.41vmin] mt-[3.04vmin];

        button {
          @apply flex_center w-[15.29vmin] h-[6.5vmin];

          &:first-of-type {
            @apply active_color text-[1.95vmin];
          }

          &:last-of-type {
            @apply area_border text-[1.95vmin];
          }
        }
      }
    }

    /* &.login_box {
    @apply w-[43.37vmin] h-[41.68vmin] p-[2.17vmin];

    .modal_close {
      @apply absolute top-[1.7vmin] right-[2.07vmin] z-10 w-[2.6vmin] h-[2.6vmin] cursor-pointer;
    }

    .character_box {
      @apply w-[14.61vmin] h-[14.61vmin] mb-[1vmin];
    }

    .login_ment {
      > p {
        @apply text-[2.17vmin] font-medium text-center text-[#424242];
      }
    }

    .modalBtn_area {
      @apply flex flex-col w-full;
      .kakoLogin {
        @apply flex_center relative w-full h-[6.72vmin] my-[2.6vmin] bg-[#FEE404];

        .kakoLogo {
          @apply absolute_yHalf left-[2.07vmin] w-[2.56vmin] h-[2.56vmin];
        }

        span {
          @apply text-[2.07vmin] font-normal text-[#000000];
        }
      }

      .noneLogin {
        @apply cursor-pointer text-[2.19vmin] font-medium gray_colorTxt;
      }
    }
  } */
  }
}

@keyframes loadingAni {
  0% {
    box-shadow:
      20px 0 #509bf8,
      -20px 0 #ededed;
    background: #509bf8;
  }
  33% {
    box-shadow:
      20px 0 #509bf8,
      -20px 0 #ededed;
    background: #ededed;
  }
  66% {
    box-shadow:
      20px 0 #ededed,
      -20px 0 #509bf8;
    background: #ededed;
  }
  100% {
    box-shadow:
      20px 0 #ededed,
      -20px 0 #509bf8;
    background: #509bf8;
  }
}

/* shapeBG */
.shapeBg_container {
  @apply fixed top-0 bottom-0 left-0 right-0 w-full h-screen;
}

.shape_bg {
  @apply absolute_fullPage overflow-hidden;

  > div:first-of-type {
    @apply absolute left-0 w-[21.9vmax] h-full;

    .bg_flower {
      @apply absolute -top-[33vmin] left-[-2.5vmin] w-[33.22vmin] h-[70.23vmin];

      img {
        @apply scale-95;
      }
    }

    .bg_round {
      @apply absolute -bottom-[43vmin] left-[-26vmin] -scale-x-100 w-[70.23vmin] h-[70.23vmin];

      img {
        @apply scale-95;
      }
    }
  }

  > div:last-of-type {
    @apply absolute right-0 w-[21.88vmax] h-full;

    .bg_hexagon {
      @apply absolute -top-[24vmin] right-[-10vmin] w-[50.54vmin] h-[65.12vmin];

      img {
        @apply w-full h-full;
      }
    }

    .bg_octagon {
      @apply absolute -bottom-[45vmin] right-[-30vmin] w-[74.22vmin] h-[74.22vmin] -scale-x-100;

      img {
        @apply w-full h-full;
      }
    }
  }
}

/* 복사하기 */
.copy_box {
  > div {
    @apply flex_vertical_center gap-[0.37vmin] cursor-pointer;

    .icon {
      @apply w-[2.6vmin] h-[2.6vmin];

      img {
        @apply object-cover w-full h-full;
      }
    }

    p {
      @apply text-[1.52vmin] font-medium gray_colorTxt;
    }
  }
}

/* 404페이지 */
.error_container {
  @apply relative w-full h-full py-[5.64vmin] overflow-hidden;

  > div {
    @apply relative flex_center flex-col content_w_size h-full mx-auto pt-[4vmin] pb-[6vmin];

    .character_box {
      @apply w-[20vmin] h-[20vmin] overflow-hidden mb-[2.6vmin];

      img {
        @apply w-full h-full object-cover;
      }
    }

    p {
      @apply text-[3.47vmin] font-medium gray_colorTxt;
    }

    .movePage_area {
      @apply flex gap-[2vmin] mt-[4.34vmin];

      a {
        @apply flex_center block w-[22vmin] h-[3.5vmax] area_border text-[1.95vmin] font-semibold gray_colorTxt;

        &:hover {
          @apply main_colorBg text-white;
        }
      }
    }
  }
}
