@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body,
#__next {
  @apply relative w-full h-screen overflow-y-hidden font-NotoSansKR bg-[#f9f9f9];
}

/* py-[52px] */
.root_layout {
  @apply w-full h-full;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

/* header */
header {
  @apply absolute top-0 left-0 right-0 z-20 flex_center w-full h-[52px] main_colorBg;

  > .header_container {
    @apply flex_xBetween w-[66.67%] h-full;

    .header_menu {
      @apply h-full flex_vertical_center;
      h1 {
        .logo_area {
          @apply block w-[98px] h-[33px];

          img {
            @apply w-full h-full;
          }
        }
      }

      nav,
      li {
        @apply h-full;
      }

      nav {
        @apply ml-[116px];
        ul {
          @apply flex_vertical_center gap-[24px] h-full;

          a,
          button {
            @apply relative flex_center w-[132px] h-full font-medium text-[24px] text-[#FEFEFE];

            &.on::after {
              @apply content-[''] absolute bottom-0 left-0 w-full h-[4px] bg-[#FEFEFE];
            }
          }
        }
      }
    }

    .header_user {
      @apply h-full;
      button,
      a {
        @apply flex_center px-[11px] h-full font-medium text-[24px] text-white;
      }
    }
  }
}

/* footer */
footer {
  @apply absolute bottom-0 left-0 right-0  w-full h-[52px] bg-white;

  .ft_container {
    @apply flex_xBetween w-[66%] h-full mx-auto;

    p {
      @apply gray_colorTxt font-medium text-[16px];
    }

    > div {
      &:first-of-type {
        @apply flex_vertical_center;

        p {
          @apply relative pr-[12px] font-medium text-[16px] gray_colorTxt;

          &:first-of-type::after {
            @apply content-[''] absolute_yHalf right-[0px] mt-[2px] w-[1px] h-[14px] gray_colorBg;
          }

          &:last-of-type {
            @apply px-[12px];
          }
        }
      }

      &:last-of-type {
        @apply flex_center gap-[30px];

        a {
          @apply flex_center gap-[6px];
          .ftIcon_box {
            @apply w-[24px] h-[24px];

            img {
              @apply object-cover w-full h-full;
            }
          }
        }
      }
    }
  }
}

/* mobile */
.moblie_container {
  @apply flex_center flex-col w-full h-screen bg-[#FEFEFE];

  .logo_area {
    @apply w-[196px] h-[72px] mb-[32px];

    img {
      @apply object-cover w-full h-full;
    }
  }

  .character_area {
    @apply w-[208px] h-[204px] mb-[8px];

    img {
      @apply object-cover w-full h-full;
    }
  }

  .guide_area {
    @apply text-center;

    > p:first-of-type {
      @apply mb-[4px] text-[20px] font-medium text-[#424242];
    }

    > p:last-of-type {
      @apply text-[16px] font-normal text-[#757575];
    }
  }
}

/* SkeletonLoading */
.skeletonLine {
  @apply relative mb-[5px] rounded-[5px] h-[26px] overflow-hidden bg-[#d6d6d6];

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #d6d6d6, #eeeeee, #d6d6d6);
    animation: 2s linear infinite skeleton-animation;
  }
}

@keyframes skeleton-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

/* modal */
.modalBlackBg {
  @apply absolute_fullPage bg-[#757575]/40 z-[60] cursor-pointer;
}

.modal_box {
  @apply flex_center flex-col absolute_center z-[80] w-[318px] h-[213px] rounded bg-white;

  .character_box {
    @apply flex_center w-[80px] h-[80px] mb-[32px] bg-[#EBF2FA];

    img {
      @apply w-full h-full object-cover;
    }
  }

  &.login_box {
    @apply w-[400px] h-[348px] px-[20px];

    .login_ment {
      > p {
        @apply text-[20px] font-medium text-center text-[#424242];
      }
    }

    .modalBtn_area {
      @apply flex flex-col w-full;
      .kakoLogin {
        @apply flex_center relative w-full h-[62px] my-[24px] bg-[#FEE404];

        .kakoLogo {
          @apply absolute_yHalf left-[17px] w-[21px] h-[21px];
        }
        span {
          @apply text-[17px] font-normal text-[#000000];
        }
      }

      .noneLogin {
        @apply cursor-pointer text-[18px] font-medium gray_colorTxt;
      }
    }
  }

  &.withdrawal_box {
    @apply w-[400px] h-[348px];
    .character_box {
      @apply mb-[24px];
    }

    .withdrawalMent_box {
      p:first-of-type {
        @apply mb-[12px] text-[24px] font-medium text-center text-[#424242];
      }
      p:last-of-type {
        @apply text-[18px] font-medium text-center gray_colorTxt;
      }
    }

    .modalBtn_area {
      @apply flex gap-[13px] mt-[28px];

      button {
        @apply flex_center w-[141px] h-[60px];

        &:first-of-type {
          @apply active_color;
        }

        &:last-of-type {
          @apply area_border;
        }
      }
    }
  }

  > p {
    @apply text-[18px] font-medium text-center gray_colorTxt;
  }

  .loader {
    @apply block relative w-[12px] h-[12px] my-[15px] mx-auto rounded-full bg-[#EDEDED];
    box-shadow:
      -24px 0 #ededed,
      24px 0 #ededed;
    animation: shadowPulse 2s linear infinite;
  }
}

@keyframes shadowPulse {
  33% {
    background: #ededed;
    box-shadow:
      -24px 0 #509bf8,
      24px 0 #ededed;
  }
  66% {
    background: #509bf8;
    box-shadow:
      -24px 0 #ededed,
      24px 0 #ededed;
  }
  100% {
    background: #ededed;
    box-shadow:
      -24px 0 #ededed,
      24px 0 #509bf8;
  }
}

.shape_bg {
  @apply absolute_fullPage overflow-hidden;

  > div:first-of-type {
    @apply absolute left-0 w-[16.66%] h-full;

    .bg_flower {
      @apply absolute -top-[25%] left-[-20px];

      img {
        @apply scale-95;
      }
    }

    .bg_round {
      @apply absolute -bottom-[38%] left-[-20px] -scale-x-100;

      img {
        @apply scale-95;
      }
    }
  }

  > div:last-of-type {
    @apply absolute right-0 w-[16.66%] h-full;

    .bg_hexagon {
      @apply absolute -top-[14%] right-[-12px] -scale-y-100;
    }

    .bg_octagon {
      @apply absolute -bottom-[33%] right-[-50%] -scale-x-100;
    }
  }
}
