.progress_container {
  @apply z-50 fixed left-1/2 -translate-x-1/2 top-[7.81vmin] content_w_size h-[7.16vmin];

  .progress_barLine {
    @apply absolute_center w-full h-[0.22vmin] bg-[#EDEDED];
  }

  .progress_barLine_active {
    @apply absolute_yHalf left-0 h-[0.22vmin] main_colorBg;
  }

  .page_infoList {
    @apply w-full h-full;
    > div {
      @apply absolute flex-col flex_center;

      &:first-of-type {
        @apply z-20 h-full flex_center absolute_center;
      }

      &:last-of-type {
        @apply flex_center absolute left-[51.56vmax] -translate-x-1/2 h-full z-20;
      }

      p:first-of-type {
        @apply w-[1.73vmin] h-[1.73vmin] rounded-full bg-[#EDEDED];

        span {
          @apply text-[1.95vmin] hidden;
        }
      }

      p:last-of-type {
        @apply hidden main_colorTxt text-[1.52vmin] font-bold;
      }

      &.on {
        @apply mt-[0.93vmin];
        > p:first-of-type {
          @apply flex_center w-[4.34vmin] h-[4.34vmin] rounded-full bg-[#f9f9f9] main_colorTxt border border-[#509BF8];

          span {
            @apply block;
          }
        }

        > p:last-of-type {
          @apply block;
        }
      }
    }
  }
}

.slider-container {
  @apply relative w-full h-full py-[5.64vmin] overflow-hidden;

  .slick-slider {
    @apply relative;
  }

  .slick-slider.slick-initialized,
  .slick-list,
  .slick-track {
    @apply h-full;
  }

  .slick-track {
    > div > div {
      @apply h-full;
    }
  }

  .slick-arrow {
    @apply absolute_yHalf w-[8.67vmin] h-[8.67vmin];

    &.slick-prev {
      @apply left-[10vmax];
    }

    &.slick-next {
      @apply right-[10vmax];
    }

    &.slick-disabled {
      @apply !hidden;
    }
  }

  .slick-track {
    @apply flex;
  }
}
section.main_container {
  @apply !block !content_w_size h-full overflow-hidden mx-auto pt-[2.17vmin] pb-[6.18vmin];

  /* common */
  .required {
    @apply text-[#FD8889] pr-[0.37vmin];
  }

  .ment_box {
    @apply w-full pb-[1.41vmin];

    &.saveMentStyle {
      @apply flex_horizontal_center flex-col h-[9vmin] mb-[1.41vmin] pb-[0];

      > p:first-of-type {
        @apply mb-[0.43vmin];
      }
    }

    p {
      @apply gray_colorTxt font-normal text-[1.95vmin];

      &:first-of-type {
        @apply font-bold text-[2.6vmin];
      }
    }
  }

  .progress_bar {
    @apply w-full h-[7.16vmin];
  }

  /* 발표 대본 교정 */
  section.correction_area {
    @apply w-full h-[calc(100%-7.16vmin)];

    > form {
      @apply flex items-start justify-between w-full h-full;
      > .scriptWrite_box {
        @apply w-[39.58vmax] h-full;

        > div:last-of-type {
          @apply w-full h-[54.79vmin] pt-[2.17vmin] pb-[2.71vmin] px-[2.93vmin] area_border;

          .scriptMain_area {
            @apply h-[37.43vmin];
          }

          p.title {
            @apply mb-[1.52vmin] text-[1.52vmin] font-medium gray_colorTxt;
          }

          .scriptTxt {
            @apply relative w-full pl-[2.17vmin] pb-[0.65vmin] overflow-hidden area_border;

            .textSize {
              @apply relative w-full h-[calc(100%-1.94vmin)] overflow-hidden;
            }
            textarea {
              @apply w-full h-full text-[1.520vmin] leading-[2.87vmin] pr-[2.17vmin] pt-[2.17vmin] font-medium gray_colorTxt bg-[#fbfbfb];
              &::-webkit-input-placeholder {
                font-size: 1.52vmin;
              }
              &::-webkit-textarea {
                font-size: 1.52vmin;
              }
              /* scrollbar */
              &::-webkit-scrollbar {
                width: 0.98vmin;
              }

              &::-webkit-scrollbar-thumb {
                background: #509bf8;
              }

              &::-webkit-scrollbar-track {
                background: #ededed;
              }
            }

            > p {
              @apply flex justify-end text-[1.520vmin] pr-[2.17vmin] font-medium gray_colorTxt;
            }

            .newScript {
              @apply w-full h-full pr-[2.17vmin] pt-[2.17vmin] overflow-y-auto;

              span {
                @apply text-[1.520vmin] leading-[2.87vmin] font-medium gray_colorTxt;
              }

              mark {
                @apply text-[1.520vmin];
              }

              /* scrollbar */
              &::-webkit-scrollbar {
                width: 0.88vmin;
              }

              &::-webkit-scrollbar-thumb {
                background: #509bf8;
              }

              &::-webkit-scrollbar-track {
                background: #ededed;
              }
            }
          }

          .contentInfo_area {
            @apply w-full mt-[2.17vmin];

            .script_fun {
              @apply w-full flex_vertical_center gap-[2.6vmin] h-[2.82vmin] mb-[2.17vmin];

              .copy_box {
                > div {
                  @apply flex_vertical_center gap-[0.37vmin] cursor-pointer;
                }
              }

              > div {
                @apply flex_vertical_center gap-[0.37vmin] cursor-pointer;
                .icon {
                  @apply w-[2.6vmin] h-[2.6vmin];

                  img {
                    @apply object-cover w-full h-full;
                  }
                }

                p {
                  @apply text-[1.52vmin] font-medium gray_colorTxt;
                }
              }
            }

            .script_info {
              @apply flex_vertical_center w-full h-[5.21vmin] px-[0.54vmin] pt-[0.98vmin] pb-[1.41vmin] area_border;

              p {
                @apply text-[1.52vmin] font-medium gray_colorTxt;

                &:first-of-type {
                  @apply relative pr-[1.48vmin];

                  &::after {
                    @apply content-[''] absolute_yHalf right-0 w-[1px] h-[1.52vmin] bg-[#757575];
                  }
                }

                &:last-of-type {
                  @apply pl-[1.48vmin];
                }

                > span {
                  @apply text-[1.520vmin] font-medium main_colorTxt;
                }
              }
            }
          }
        }
      }

      > .scriptSetting_box {
        @apply w-[26.04vmax] h-full;

        > div:last-of-type {
          @apply w-full h-full;

          .detailSetting {
            @apply flex flex-col justify-between gap-[2.17vmin] w-full h-[54.79vmin] py-[3.8vmin] px-[4.01vmin] area_border;

            p.title {
              @apply mb-[1.3vmin] text-[1.52vmin] font-medium gray_colorTxt;
            }

            > div:first-of-type {
              @apply h-[18.43vmin];
              .subject_box {
                @apply relative w-full h-[calc(100%-4.12vmin)] area_border rounded overflow-hidden;
                textarea {
                  @apply w-full h-[calc(100%-2.17vmin)] pt-[2.17vmin] px-[2.17vmin] text-[1.52vmin] font-medium bg-[#fbfbfb];

                  /* scrollbar */
                  &::-webkit-scrollbar {
                    width: 0.88vmin;
                  }

                  &::-webkit-scrollbar-thumb {
                    background: #509bf8;
                  }

                  &::-webkit-scrollbar-track {
                    background: #ededed;
                  }
                }

                .subject_charCount {
                  @apply absolute bottom-[0.4vmin] right-[2.15vmin] font-medium text-[1.52vmin] gray_colorTxt;
                }
              }
            }

            .purposeCheck,
            .endingTxtCheck {
              @apply flex_vertical_center gap-[1.76vmin] w-full h-[3.80vmin];

              > p {
                @apply flex_center w-[10.28vmin] h-full text-[1.520vmin] font-medium text-center rounded cursor-pointer;
              }
            }

            .repeat_box {
              @apply mt-[2.17vmin];
              > div {
                @apply flex_vertical_center gap-[0.98vmin] w-[23.15vmin] cursor-pointer;
                .checkbox {
                  @apply flex_center w-[2.6vmin] h-[2.6vmin] rounded cursor-pointer;
                }

                > p {
                  @apply text-[1.52vmin] select-none font-medium gray_colorTxt;
                }
              }
            }
          }

          .modifyBtn_box {
            @apply flex_xBetween gap-[2.17vmin] w-full h-[6.5vmin] mt-[3.04vmin];
            button {
              @apply flex_center flex-1 h-full area_border text-[1.73vmin] font-medium rounded;
            }
          }
        }
      }
    }
  }
}
