.mypage_container {
  @apply relative w-full h-full py-[5.64vmin] overflow-hidden;

  .content_area {
    @apply relative flex justify-between flex-col content_w_size h-full mx-auto pt-[4vmin] pb-[6vmin];
  }
  .mypage_title {
    @apply mb-[3.25vmin] text-[3.04vmin] font-bold gray_colorTxt;
  }

  .userInfo_area {
    > div {
      @apply flex_xBetween w-full py-[0.98vmin] pl-[3.04vmin] pr-[4.88vmin] area_border;

      > div.user {
        @apply flex_vertical_center gap-[4.34vmin];
        .userIcon {
          @apply w-[7.81vmin] h-[7.81vmin] rounded-full bg-[#EBF2FA];

          img {
            @apply w-full h-full;
          }
        }

        > p {
          @apply text-[3.04vmin] font-medium gray_colorTxt;
        }
      }

      > button {
        @apply w-[16.05vmin] h-[5.1vmin] text-[2.17vmin] font-medium area_border;
      }
    }
  }

  .myAnnounce_area {
    @apply flex flex-col;
    .myAnnounce_slide {
      @apply relative flex-1;

      .slick-track {
        @apply flex overflow-hidden;
      }
      .slick-slide {
        margin-right: 2.17vmin;

        > div {
          @apply h-full;
        }
      }
      .slick-list {
        margin-right: -2.17vmin; /* 오른쪽 여백을 제거 */
        overflow: hidden;
      }
      .slick-arrow {
        @apply absolute top-[45%] -translate-y-1/2 w-[8.67vmin] h-[8.67vmin];

        img {
          @apply w-full h-full object-cover;
        }

        &.slick-prev {
          @apply left-[-13.01vmin];
        }

        &.slick-next {
          @apply right-[-13.01vmin];
        }

        &.slick-disabled {
          @apply !hidden;
        }
      }

      .dots_custom {
        @apply w-full flex_center mt-[2.17vmin];

        ul {
          @apply flex_vertical_center gap-[2.6vmin];
          li {
            @apply w-[1.73vmin] h-[1.73vmin] rounded-full bg-[#D9D9D9];

            &.slick-active {
              @apply bg-[#509BF8];
            }

            button {
              @apply opacity-0;
            }
          }
        }
      }

      .myAnnounce {
        @apply block w-[26vmin] h-[27.7vmin] area_border cursor-pointer;

        .announce_title {
          @apply flex_xBetween w-full h-[5.86vmin] px-[1.73vmin] cursor-default main_colorBg;

          > p {
            @apply text-[2.17vmin] font-medium text-[#FEFEFE];
          }

          .delteBtn {
            @apply flex_center w-[1.3vmin] h-[1.3vmin] cursor-pointer;

            img {
              @apply w-full h-full object-cover;
            }
          }
        }

        .announce_content {
          @apply flex-col h-[calc(100%-5.86vmin)] px-[1.84vmin] pt-[1.95vmin] pb-[0.87vmin] overflow-hidden;

          > p:first-of-type {
            @apply text-[1.52vmin] font-medium leading-[3.47vmin] pb-[1.95vmin] gray_colorTxt;
          }
          > p.date {
            @apply flex justify-end w-full pt-[0.87vmin] border-t border-[#C4C4C4] text-[1.52vmin] font-medium gray_colorTxt;
          }

          .plusBtn_area {
            @apply flex_center h-full;
            > div.plusBtn {
              @apply w-[5.93vmin] h-[5.93vmin] cursor-pointer;

              img {
                @apply w-full h-full object-cover;
              }
            }
          }
        }
      }
    }
  }

  .other_area {
    > ul {
      @apply flex_xBetween;

      li {
        a,
        button {
          @apply flex_center w-[18.24vmin] h-[6.5vmin] text-[2.17vmin] font-medium gray_colorTxt area_border;
        }
      }
    }
  }
}

.myAnnounce_detail_container {
  @apply relative !pt-[9.98vmin] !pb-[6.18vmin];
  .scriptTitle_area {
    @apply w-full mb-[1.41vmin];

    p {
      @apply flex justify-end mb-[0.37vmin] text-[1.30vmin] font-medium gray_colorTxt;
    }

    input {
      @apply w-full h-[6.83vmin] py-[1.41vmin] px-[2.17vmin] text-[2.17vmin] area_border font-medium gray_colorTxt;
    }
  }

  .scriptSave_btn {
    @apply flex_center w-[26.02vmin] h-[6.5vmin] ml-auto mt-[2.28vmin] text-[1.73vmin] font-medium;
  }
  .back_btn {
    @apply flex_center w-[26.02vmin] h-[6.5vmin] ml-auto mt-[2.28vmin] text-[1.73vmin] rounded font-medium active_color;
  }
}
