.mypage_container {
  @apply relative w-full h-full py-[5.64vmin] overflow-hidden bg-[#fbfbfb];

  .content_area {
    @apply relative flex justify-between flex-col content_w_size h-full mx-auto pt-[5.46vmin] pb-[8.43vmin];
  }
  .mypage_title {
    @apply mb-[3.70vmin] text-[2.59vmin] font-bold gray_colorTxt;
  }

  .userInfo_area {
    > div {
      @apply flex_xBetween w-full py-[2.22vmin] pl-[2.59vmin] pr-[4.17vmin] area_border;

      > div.user {
        @apply flex_vertical_center gap-[3.70vmin];
        .userIcon {
          @apply w-[6.67vmin] h-[6.67vmin] rounded-full bg-[#EBF2FA];
        }

        > p {
          @apply text-[2.59vmin] font-medium gray_colorTxt;
        }
      }

      > button {
        @apply w-[13.70vmin] h-[5.74vmin] text-[1.85vmin] font-medium area_border;
      }
    }
  }

  .myAnnounce_area {
    @apply flex flex-col;
    .myAnnounce_slide {
      @apply relative flex-1;

      .slick-slider {
        @apply overflow-hidden;
      }

      .slick-track {
        @apply flex overflow-hidden;
      }
      .slick-slide {
        margin-right: 1.85vmin;

        > div {
          @apply h-full;
        }
      }
      .slick-list {
        margin-right: -1.85vmin; /* 오른쪽 여백을 제거 */
        overflow: hidden;
      }
      .slick-arrow {
        @apply absolute top-[45%] -translate-y-1/2 w-[7.41vmin] h-[7.41vmin];

        img {
          @apply w-full h-full object-cover;
        }

        &.slick-prev {
          @apply left-[-11.11vmin];
        }

        &.slick-next {
          @apply right-[-11.11vmin];
        }

        &.slick-disabled {
          @apply !hidden;
        }
      }

      .dots_custom {
        @apply w-full flex_center mt-[1.85vmin];

        ul {
          @apply flex_vertical_center gap-[2.22vmin];
          li {
            @apply w-[1.48vmin] h-[1.48vmin] rounded-full bg-[#D9D9D9];

            &.slick-active {
              @apply bg-[#509BF8];
            }

            button {
              @apply opacity-0;
            }
          }
        }
      }

      .myAnnounce {
        @apply block w-[22.22vmin] h-[23.70vmin] area_border cursor-pointer;

        .announce_title {
          @apply flex_xBetween w-full h-[5vmin] px-[1.30vmin] cursor-default main_colorBg;

          > p {
            @apply text-[1.85vmin] font-medium text-[#FEFEFE];
          }

          .delteBtn {
            @apply flex_center w-[1.11vmin] h-[1.11vmin] cursor-pointer;

            img {
              @apply w-full h-full object-cover;
            }
          }
        }

        .announce_content {
          @apply flex_xBetween flex-col h-[calc(100%-5vmin)] px-[1.30vmin] pt-[1.67vmin] pb-[1.30vmin] overflow-hidden;

          > p:first-of-type {
            @apply text-[1.30vmin] font-medium leading-[2.96vmin] pb-[0.37vmin] gray_colorTxt;
          }
          > p.date {
            @apply flex justify-end w-full pt-[0.74vmin] border-t border-[#C4C4C4] text-[1.30vmin] font-medium gray_colorTxt;
          }

          .plusBtn_area {
            @apply flex_center h-full;
            > div.plusBtn {
              @apply w-[5.93vmin] h-[5.93vmin] cursor-pointer;

              img {
                @apply w-full h-full object-cover;
              }
            }
          }
        }
      }
    }
  }

  .other_area {
    > ul {
      @apply flex_xBetween;

      li {
        a,
        button {
          @apply flex_center w-[15.56vmin] h-[5.74vmin] text-[1.85vmin] font-medium gray_colorTxt area_border;
        }
      }
    }
  }
}

.myAnnounce_detail_container {
  @apply relative;
  .scriptTitle_area {
    @apply w-full mb-[1.94vmin];

    p {
      @apply flex justify-end mb-[0.37vmin] text-[1.30vmin] font-medium gray_colorTxt;
    }

    input {
      @apply w-full h-[5.83vmin] py-[1.11vmin] px-[1.85vmin] text-[1.85vmin] area_border font-medium gray_colorTxt;
    }
  }

  .scriptSave_btn {
    @apply flex_center w-[22.22vmin] h-[5.56vmin] ml-auto mt-[3.70vmin] text-[1.48vmin] font-medium;
  }
  .back_btn {
    @apply flex_center w-[22.22vmin] h-[5.56vmin] ml-auto mt-[3.70vmin] text-[1.48vmin] font-medium active_color;
  }
}
