.saveQa_area {
  @apply w-full h-full;

  form {
    @apply flex_xBetween w-full h-full pt-[2.87vmin];

    > div {
      @apply h-full;
    }

    .userModify_box {
      @apply w-[51.5%];

      .scriptFinal_area {
        @apply w-full h-[71%] area_border px-[2.87vmin] py-[1.11vmin];

        > p.title {
          @apply mb-[1.11vmin] text-[1.30vmin] font-medium gray_colorTxt;
        }

        .scriptTxt {
          @apply relative w-full h-[calc(100%-6.67vmin)] pl-[1.20vmin] pb-[4.72vmin] area_border;

          textarea {
            @apply w-full h-full text-[1.30vmin] leading-[2.87vmin] pt-[1.11vmin]  pr-[2.41vmin] font-medium gray_colorTxt bg-[#fbfbfb];
            &::-webkit-input-placeholder {
              font-size: 1.3vmin;
            }
            &::-webkit-textarea {
              font-size: 1.3vmin;
            }

            /* scrollbar */
            &::-webkit-scrollbar {
              width: 0.88vmin;
            }

            &::-webkit-scrollbar-thumb {
              background: #509bf8;
            }

            &::-webkit-scrollbar-track {
              background: #ededed;
            }
          }

          > p {
            @apply absolute bottom-[0.65vmin] right-[3.42vmin] flex justify-end text-[1.30vmin] font-medium gray_colorTxt;
          }
        }
      }

      .copyClipboard {
        @apply flex_vertical_center gap-[0.37vmin] w-[10vmin] mt-[1.20vmin] cursor-pointer;

        p {
          @apply text-[1.30vmin] font-medium gray_colorTxt;
        }
      }
      .copy_area {
        .icon {
          @apply w-[2.22vmin] h-[2.22vmin];

          img {
            @apply object-cover w-full h-full;
          }
        }

        p {
          @apply text-[1.30vmin] font-medium gray_colorTxt;
        }
      }
    }

    .qa_box {
      @apply w-[39.5%];

      > div:last-of-type {
        @apply w-full h-full;

        .qa_area {
          @apply w-full h-[71%];

          .none_qa {
            @apply flex-col w-full h-full flex_center;

            > div:first-of-type {
              @apply w-[23.52vmin] h-[23.52vmin] mb-[2.22vmin];

              img {
                @apply w-full h-full;
              }
            }

            p {
              @apply text-[1.85vmin] font-normal gray_colorTxt text-center;
            }
          }

          ul {
            @apply w-full h-full overflow-y-auto;

            /* scrollbar */
            &::-webkit-scrollbar {
              width: 0.88vmin;
            }

            &::-webkit-scrollbar-thumb {
              background: #509bf8;
            }

            &::-webkit-scrollbar-track {
              background: #ededed;
            }

            li {
              @apply flex_center flex-col w-full cursor-pointer border-b border-[#C4C4C4];

              &:first-of-type {
                @apply border-t border-[#C4C4C4];
              }

              .question_area {
                @apply w-full min-h-[14.07vmin] py-[3.42vmin] pr-[2.68vmin] flex_xBetween;

                > p:first-of-type {
                  @apply text-[1.67vmin] font-bold text-[#424242];
                }

                > p.question {
                  @apply w-[32.41vmin] text-left break-words text-[1.48vmin] gray_colorTxt font-medium leading-[2.96vmin];
                }

                .list_arrow {
                  @apply w-[2.22vmin] h-[2.22vmin];

                  img {
                    @apply object-cover w-full h-full;
                  }
                }
              }

              .answer_area {
                @apply flex items-start gap-[5.09vmin] invisible w-full overflow-hidden transition-all duration-300 max-h-0;

                &.on {
                  @apply visible max-h-[27.78vmin] mt-[2.50vmin]  pb-[3.42vmin];
                }

                > p:first-of-type {
                  @apply text-[1.67vmin] font-bold text-[#424242];
                }

                > p.answer {
                  @apply max-w-[32.41vmin] break-words text-[1.48vmin] gray_colorTxt font-medium leading-[2.96vmin];
                }
              }
            }
          }
        }

        .finalBtn_box {
          @apply flex_xBetween gap-[1.85vmin] w-full h-[5.56vmin] mt-[1.94vmin];

          button {
            @apply flex_center flex-1 h-full area_border text-[1.48vmin] font-medium rounded;
          }
        }
      }
    }
  }
}
