.saveQa_area {
  @apply w-full h-full;

  form {
    @apply flex_xBetween w-full h-full pt-[31px];

    > div {
      @apply h-full;
    }

    .userModify_box {
      @apply w-[51.5%];

      .scriptFinal_area {
        @apply w-full h-[71%] area_border px-[31px] py-[12px];

        > p.title {
          @apply mb-[12px] text-[14px] font-medium gray_colorTxt;
        }

        .scriptTxt {
          @apply relative w-full h-[calc(100%-72px)] pl-[13px] pb-[51px] area_border;

          textarea {
            @apply w-full h-full text-[14px] leading-[31px] pt-[12px]  pr-[26px] font-medium gray_colorTxt bg-[#fbfbfb];
            &::-webkit-input-placeholder {
              font-size: 14px;
            }
            &::-webkit-textarea {
              font-size: 14px;
            }

            /* scrollbar */
            &::-webkit-scrollbar {
              width: 9.5px;
            }

            &::-webkit-scrollbar-thumb {
              background: #509bf8;
            }

            &::-webkit-scrollbar-track {
              background: #ededed;
            }
          }

          > p {
            @apply absolute bottom-[7px] right-[37px] flex justify-end text-[14px] font-medium gray_colorTxt;
          }
        }
      }

      .copyClipboard {
        @apply flex_vertical_center gap-[4px] w-[100px] mt-[13px] cursor-pointer;
      }
      .copy_area {
        .icon {
          @apply w-[24px] h-[24px];

          img {
            @apply object-cover w-full h-full;
          }
        }

        p {
          @apply text-[14px] font-medium gray_colorTxt;
        }
      }
    }

    .qa_box {
      @apply w-[39.5%];

      > div:last-of-type {
        @apply w-full h-full;

        .qa_area {
          @apply w-full h-[71%];

          .none_qa {
            @apply flex-col w-full h-full flex_center;

            > div:first-of-type {
              @apply w-[254px] h-[254px] mb-[24px];

              img {
                @apply w-full h-full;
              }
            }

            p {
              @apply text-[20px] font-normal gray_colorTxt text-center;
            }
          }

          ul {
            @apply w-full h-full overflow-y-auto;

            /* scrollbar */
            &::-webkit-scrollbar {
              width: 9.5px;
            }

            &::-webkit-scrollbar-thumb {
              background: #509bf8;
            }

            &::-webkit-scrollbar-track {
              background: #ededed;
            }

            li {
              @apply flex_center flex-col w-full min-h-[25%] py-[37px] pr-[29px] cursor-pointer border-b border-[#C4C4C4];

              &:first-of-type {
                @apply border-t border-[#C4C4C4];
              }

              .question_area {
                @apply w-full h-full flex_xBetween;

                > p:first-of-type {
                  @apply text-[18px] font-bold text-[#424242];
                }

                > p.question {
                  @apply max-w-[380px] break-words text-[16px] gray_colorTxt font-medium leading-[32px];
                }

                .list_arrow {
                  @apply w-[24px] h-[24px];

                  img {
                    @apply object-cover w-full h-full;
                  }
                }
              }

              .answer_area {
                @apply flex items-start gap-[16px] invisible w-full overflow-hidden transition-all duration-300 max-h-0;

                &.on {
                  @apply visible max-h-[300px] mt-[64px];
                }

                > p:first-of-type {
                  @apply text-[18px] font-bold text-[#424242];
                }

                > p.answer {
                  @apply max-w-[380px] break-words text-[16px] gray_colorTxt font-medium leading-[32px];
                }
              }
            }
          }
        }

        .finalBtn_box {
          @apply flex_xBetween gap-[20px] w-full h-[60px] mt-[21px];

          button {
            @apply flex_center flex-1 h-full area_border text-[16px] font-medium rounded;
          }
        }
      }
    }
  }
}
