.saveQa_area {
  @apply w-full h-full;

  form {
    @apply flex_xBetween gap-[4vmin] w-full h-full;

    > div {
      @apply h-full;
    }

    .userModify_box {
      @apply w-[70.53vmin];

      .scriptFinal_area {
        @apply w-full area_border px-[3.36vmin] py-[1.3vmin];

        > p.title {
          @apply mb-[1.41vmin] text-[1.52vmin] font-medium gray_colorTxt;
        }

        .scriptTxt {
          @apply relative w-full pl-[1.41vmin] pb-[1.52vmin] area_border;

          textarea {
            @apply w-full text-[1.52vmin] leading-[3.36vmin] pt-[2.28vmin] pr-[2.82vmin] font-medium gray_colorTxt;
            &::-webkit-input-placeholder {
              font-size: 1.52vmin;
            }
            &::-webkit-textarea {
              font-size: 1.52vmin;
            }

            /* scrollbar */
            &::-webkit-scrollbar {
              width: 0.98vmin;
            }

            &::-webkit-scrollbar-thumb {
              background: #509bf8;
            }

            &::-webkit-scrollbar-track {
              background: #ededed;
            }
          }

          > p {
            @apply absolute bottom-[1.52vmin] right-[2.82vmin] flex justify-end text-[1.52vmin] font-medium gray_colorTxt;
          }
        }
      }

      .copyClipboard {
        @apply flex_vertical_center gap-[0.43vmin] w-[10vmin] cursor-pointer;

        p {
          @apply text-[1.52vmin] font-medium gray_colorTxt;
        }
      }
      .copy_area {
        .icon {
          @apply w-[2.6vmin] h-[2.6vmin];

          img {
            @apply w-full h-full;
          }
        }

        p {
          @apply text-[1.52vmin] font-medium gray_colorTxt;
        }
      }
    }

    .qa_box {
      @apply w-[26.04vmax] mx-0 my-auto;

      > div:last-of-type {
        @apply w-full h-full;

        .qa_area {
          @apply w-full;

          .none_qa {
            @apply flex-col w-full h-full flex_center;

            > div:first-of-type {
              @apply w-[27.55vmin] h-[27.55vmin] mb-[2.6vmin];

              img {
                @apply w-full h-full;
              }
            }

            p {
              @apply text-[2.17vmin] font-normal gray_colorTxt text-center;
            }
          }

          ul {
            @apply w-full h-full overflow-y-auto;

            /* scrollbar */
            &::-webkit-scrollbar {
              width: 0.98vmin;
            }

            &::-webkit-scrollbar-thumb {
              background: #509bf8;
            }

            &::-webkit-scrollbar-track {
              background: #ededed;
            }

            li {
              @apply flex_center flex-col w-full cursor-pointer border-b-[0.11vmin] border-[#C4C4C4];

              &:first-of-type {
                @apply border-t-[0.11vmin] border-[#C4C4C4];
              }

              .question_area {
                @apply w-full pr-[2.06vmin] flex_xBetween;

                > p:first-of-type {
                  @apply text-[1.95vmin] font-bold text-[#424242];
                }

                > p.question {
                  @apply w-[18.23vmax] text-left break-words text-[1.73vmin] gray_colorTxt leading-[3.47vmin];
                }

                .list_arrow {
                  @apply w-[2.38vmin] h-[2.22vmin];

                  img {
                    @apply object-cover w-full h-full;
                  }
                }
              }

              .answer_area {
                @apply flex items-start justify-between pr-[2.1vmin] invisible w-full overflow-hidden transition-all duration-300 max-h-0;

                &.on {
                  @apply visible max-h-[27.78vmin] mt-[2.50vmin] pb-[3.42vmin];
                }

                > p:first-of-type {
                  @apply text-[1.95vmin] font-bold text-[#424242];
                }

                > p.answer {
                  @apply w-[18.23vmax] break-words text-[1.73vmin] gray_colorTxt font-medium leading-[2.96vmin];
                }

                .list_arrow {
                  @apply w-[2.4vmin] h-[2.22vmin] opacity-0;
                }
              }
            }
          }
        }

        .finalBtn_box {
          @apply flex_xBetween gap-[2.17vmin] w-full h-[6.5vmin] mt-[3.04vmin];

          button {
            @apply flex_center flex-1 h-full area_border text-[1.73vmin] font-medium rounded;
          }
        }
      }
    }
  }
}

/* 완성 발표문 mobile */
@media (max-width: 1023px) {
  .userModify_box {
    @apply relative w-full h-[calc(100%-45px)] pb-[20px];

    .scriptFinal_area {
      @apply w-full h-[calc(100%-84px)] area_border py-[8px] px-3;

      > p.title {
        @apply mb-2 text-[14px] font-medium gray_colorTxt;
      }

      > .scriptTxt {
        @apply relative h-[calc(100%-69px)] pb-0 pl-0 border-0;

        textarea {
          @apply w-full h-full text-[14px] leading-[1.8]  pr-[0] pt-[0];
          &::-webkit-input-placeholder {
            font-size: 14px;
          }
          &::-webkit-textarea {
            font-size: 14px;
          }

          /* scrollbar */
          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background: #509bf8;
          }

          &::-webkit-scrollbar-track {
            background: #ededed;
          }
        }

        /* 글자수 */
        > p.charCount {
          @apply absolute right-[-4px] top-[-28px] flex justify-end text-[12px] pr-3 font-medium gray_colorTxt;
        }
      }

      /* 복사하기 */
      .contentInfo_area {
        @apply flex_vertical_center justify-end w-full pt-3 pb-2 border-t border-[#C4C4C4] mt-[0];

        > div {
          @apply gap-[2px] cursor-pointer flex_vertical_center;
          .icon {
            @apply w-3 h-3;

            img {
              @apply object-cover w-full h-full;
            }
          }

          p {
            @apply text-[12px] font-medium gray_colorTxt;
          }
        }
      }
    }
  }
}

/* 예상질문 답변 mobile */
@media (max-width: 1023px) {
  .qa_box {
    @apply w-full h-[calc(100%-45px)] mx-0 my-auto pb-[20px];

    > div:last-of-type {
      @apply w-full h-[calc(100%-84px)];

      .qa_area {
        @apply w-full h-full border-t border-b border-[#509BF8];

        .none_qa {
          @apply hidden;
        }

        ul {
          @apply w-full h-full overflow-y-auto;

          /* scrollbar */
          &::-webkit-scrollbar {
            display: none;
          }

          li {
            @apply border-b;

            &:first-of-type {
              @apply border-none;
            }

            .question_area {
              @apply w-full min-h-[100px] flex-1 pr-3 flex_xBetween;

              > p:first-of-type {
                @apply text-base font-bold text-[#424242];
              }

              > p.question {
                @apply w-[78%] text-left break-words text-sm gray_colorTxt leading-[1.4];
              }

              .list_arrow {
                @apply w-[14px] h-[14px];

                img {
                  @apply object-cover w-full h-full;
                }
              }
            }

            .answer_area {
              @apply flex items-start justify-between pr-3 invisible w-full overflow-hidden transition-all duration-300 max-h-0;

              &.on {
                @apply visible max-h-[120px] mt-[10px] pb-[20px];
              }

              > p:first-of-type {
                @apply text-sm font-bold text-[#424242];
              }

              > p.answer {
                @apply w-[78%] break-words text-sm gray_colorTxt font-medium leading-[1.6];
              }

              .list_arrow {
                @apply w-[14px] h-[14px] opacity-0;
              }
            }
          }
        }
      }

      .finalBtn_box {
        @apply flex_xBetween gap-[2.17vmin] w-full h-[6.5vmin] mt-[3.04vmin];

        button {
          @apply flex_center flex-1 h-full area_border text-[1.73vmin] font-medium rounded;
        }
      }
    }
  }
}
