/* AppleSDGothicNeo */
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoUL.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoT.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoSB.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoL.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoH.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoEB.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}
