/* tmoneyRoundWind */
@font-face {
  font-family: 'tmoneyRoundWind';
  src: url('/fonts/._TmoneyRoundWindRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'tmoneyRoundWind';
  src: url('/fonts/._TmoneyRoundWindExtraBold.ttf') format('truetype');
}
